# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
/node_modules
/.pnp
.pnp.js

# local env files
.env*.local
.env

# misc
.DS_Store
*.pem
**/.gitignore

# next.js
/.next/
/out/

# out dir
dist/

# production
/build

# testing
/coverage

# typescript
*.tsbuildinfo
next-env.d.ts

# recordings
/local_recordings